

.lexend-normal> {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}



h1 {
    font-size: 10em;
    font-family: "Lexend";
    letter-spacing: -0.05em; 
    /*font-weight: 600;*/
}